If:
  PathMatch: .*\.cpp

CompileFlags:
  Add: [
    -I/opt/homebrew/Cellar/llvm/19.1.7/include,
    -std=c++17, -stdlib=libc++,   -D__STDC_CONSTANT_MACROS,
    -D__STDC_FORMAT_MACROS, -D__STDC_LIMIT_MACROS,
    -L/opt/homebrew/Cellar/llvm/19.1.7/lib, 
    # -Wl,-search_paths_first -Wl,-headerpad_max_install_names,
    -lLLVM-19
]

